h5 {
  padding: 10px;
  box-shadow: inset 0 0 5px 2px cyan;
  /* border-radius: 12px; */
  border-bottom: 2px solid cyan;
  margin: 0 auto;
}

h5:last-of-type {
  border-bottom: none;
}
.countryData {
  border-top: 2px solid cyan;
  border-bottom: 2px solid cyan;
  margin: 10px 0 15px;
}
img {
  margin-bottom: 10px;
}
.country {
  border: 1px solid cyan;
  padding: 15px 0;
  border-radius: 20px;
  box-shadow: inset 0 0 5px 2px cyan, 0 0 5px 2px cyan;
}